@page
@using BankWebApp.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@model BankWebApp.Pages.DepositModel

@{
    ViewData["Title"] = "Deposit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@inject SignInManager<BankWebAppUser> SignInManager
@inject UserManager<BankWebAppUser> UserManager


@if (!SignInManager.IsSignedIn(User))
{
    Response.Redirect("./Identity/Account/Login");
}

<h1>Deposit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" onsubmit="return confirm('Confirm deposit?');">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Transaction.Amount" class="control-label"></label>
                <input asp-for="Transaction.Amount" class="form-control" />
                <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
